[Desktop Entry]
Type=Application
Name=xTunes
Comment=Music library and player
Exec=xtunes
Icon=io.github.open_xtunes.xtunes
Terminal=false
Categories=Audio;Music;Player;GTK;
Keywords=music;player;library;audio;
StartupWMClass=io.github.open_xtunes.xtunes
